# Copie este arquivo para .env e defina sua própria chave
# A chave deve ter no mínimo 64 caracteres para o algoritmo HS512
#JWT_SECRET=sua_chave_secreta_aqui_minimo_64_caracteres_para_hs512_ser_seguro_ok
JWT_SECRET=XWwn52DUgqSROV3lq1kF60X97sm7d0brdExyNHeE2KnTGpOpxe9QyJbuNw85aoY4HyM4GXNmF1tqKqd1PuJrbR
